@import url("https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan:wght@100;400&family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

.main {
  font-family: "Antonio", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.05px;
  text-transform: uppercase;
  color: #ffffff;
}
