.main {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 2px;
}

.wikiText {
  margin-left: 3px;
}

@media screen and (min-width: 768px) {
  .main {
    display: flex;
    justify-content: left;
  }
}
