.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.button {
  padding: 20px 0;
  background: none;
  border: none;
  color: #ffffff;
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.iconAndName {
  display: flex;
  align-items: center;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 25px;
}

.planetName {
  background-color: hotpink;
}
.mercury {
  background-color: #def4fc;
}

.venus {
  background-color: #f7cc7f;
}

.earth {
  background-color: #545bfe;
}

.mars {
  background-color: #ff6a45;
}

.jupiter {
  background-color: #ecad7a;
}

.saturn {
  background-color: #fccb6b;
}

.uranus {
  background-color: #65f0d5;
}

.neptune {
  background-color: #497efa;
}
