.main {
  color: rgba(255, 255, 255, 0.8);
  font-family: "League Spartan", sans-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: 00;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.pageMenu {
  font-size: 10px;
}

.mainActive {
  color: #ffffff;
  font-family: "League Spartan", sans-serif;
  font-size: 10px;
  line-height: 25px;
  font-weight: 00;
  letter-spacing: 1px;
  text-transform: uppercase;
}
