.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 24px;
}

.planet {
  margin-bottom: 0;
}

.hamburgerIcon {
  display: flex;
}

.hamburgerIconMenu {
  display: flex;
  opacity: 0.5;
}

.planetsMenu {
  display: none;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 32px 0 0 0;
    flex-direction: column;
    justify-content: center;
  }

  .hamburgerIcon {
    display: none;
  }

  .banner {
    margin-bottom: 40px;
  }

  .planetsMenu {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */

    background-color: aqua;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    flex-direction: row;

    padding: 22px 41px 27px 32px;

    /* padding: top  right bottom left */
    /* border: 1px solid red; */
    margin-bottom: 243px;
  }

  .planetsMenu {
    justify-content: right;
  }
  .banner {
    /* border: 1px solid green;
    display: flex;
    align-items: center; */
    margin: 0;
  }
}
