.main {
  display: flex;
  max-height: 300px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.inner {
  transform: scale(0.385);
  /* height: 38.5%; -> generates correct size, but too much vertical space */
}

@media screen and (min-width: 768px) {
  .main {
    max-height: 460px;
  }

  .inner {
    /* width: 63%; */
    transform: scale(0.63);
  }
}

@media screen and (min-width: 1440px) {
  .main {
    max-height: 754px;
  }

  .inner {
    /* width: 63%; */
    transform: scale(1);
  }
}
