.main {
  display: flex;

  justify-content: center;
}

.inner {
  width: 38.5%;
  /* height: 38.5%; -> generates correct size, but too much vertical space */
}

@media screen and (min-width: 768px) {
  .main {
    width: 63%;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    width: 100%;
    margin: 0;
  }
}
