.main {
  display: flex;
  max-height: 300px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.inner {
  transform: scale(0.385);
  /* height: 38.5%; -> generates correct size, but too much vertical space */
}

.innerSurface {
  width: 167px;
  position: absolute;
  bottom: 0px;
}

.surface {
  display: flex;
  /* max-height: 300px; */
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: contain;

  background-repeat: no-repeat;
  background-position: center;
  margin: 0 6rem;
  /* margin-top: -3.3rem; */
  margin-bottom: 40px;
  z-index: -10;
}

.magnifyer {
  position: absolute;
  bottom: 0px;
  transform: scale(0.6);
}

@media screen and (min-width: 768px) {
  .main {
    max-height: 460px;
  }

  .surface {
    margin: 0;
    z-index: -10;
    /* width: 28%; */
  }
  /* .magnifyer {
    position: relative;
    bottom: -5rem;
  } */
  .magnifyer {
    transform: scale(0.8);
  }

  .inner {
    /* width: 63%; */
    transform: scale(0.63);
  }
}

@media screen and (min-width: 1440px) {
  .main {
    max-height: 754px;
  }

  .inner {
    /* width: 63%; */
    max-height: 582px;
    transform: scale(1);
  }
}
