.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin-bottom: 26px;
}

.item {
  /* width: 100%;
  background-color: blue;
  display: flex;
  justify-content: space-between; */
}

.mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 24px;
  /* margin-bottom: 95px; */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
}

.mobileInner {
  display: flex;
  width: 100%;

  justify-content: space-between;
}

.mobileFooter {
  display: flex;
  width: 100%;
  /* flex-direction: column; */
  /* background-color: red; */
  justify-content: space-between;
  padding: 0px 20px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 95px;
}

.mobileBottomActive {
  width: 60px;
  display: flex;
  /* justify-content: space-around; */
  /* justify-items: center; */
  background-color: #419ebb;
  height: 2px;
}

.mobileBottomInactive {
  width: 80px;
  display: flex;
}

.mobileBottomActive:hover {
  min-height: 4px;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .mobileBottomActive {
    display: none;
  }

  .mobileFooter {
    display: none;
  }

  .planetMenu {
    width: 768px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 24px;
    /* margin-bottom: 95px; */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
    display: flex;

    background-color: red;
    justify-content: space-between;
  }
}

.external {
  width: 100%;
  /* display: flex;
  justify-content: space-between; */
}

.main {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
}

@media screen and (min-width: 1440px) {
  .main {
    max-width: 665px;
    padding: 0;
    margin: 0;
  }
}
